form {
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.content-wrapper {
  display: flex;
  gap: 50px;
}


.input-wrapper label{
  display: block;
  margin: 30px 0 10px 0;
}

.message-item {
  max-width: 550px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
}
.message-meta {
  display: flex;
  gap: 20px;
}

.message-subject {
  width: 20px;
  background-color: red;
  border-radius: 50%;
}